<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>登录</title>
	<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<link href="/Content/vendors.css" rel="stylesheet">
	<link href="/Content/Login.css" rel="stylesheet">
</head>
<body>
	<div class="overlay"></div>
		<main>
			<div class="frame">
			</div>
		</main>
	<script type="text/javascript" src="/Scripts/vendors.js"></script>
	<script type="text/javascript" src="/Scripts/Login.js"></script>
</body>
</html>